<head><link rel="stylesheet" href="/styles/main.css" /></head>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <!-- Deal Dock Logo on top left-hand side of nav -->
      <a href="/" class="navbar-brand">
        <img src="/website_images/logo_deal_dock.png" alt="Deal Dock Logo" class="deal-dock-logo">
      </a>
      <small class="d-block mb-3 text-muted">© 2024</small>
    </div>

    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/">Home Page</a></li>
        <li><a class="text-muted" href="/listings/new">Post Ad</a></li>
        <li><a class="text-muted" href="/favourites">Favourites</a></li>

      </ul>
    </div>


    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
      </ul>
    </div>
  </div>
</footer>
