<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
/>
  <title>Post A New Ad</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/listings_new.css" />

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>

<!------------- Nav Bar -------------->
  <%- include('partials/nav-bar') %>

<!------------ Header ---------------->
  <h2 class="pb-3 mb-4 listings-header">
    Post A New Ad
  </h2>

<!------------ Main Container ---------------->
<div class="new-ad-container">
  <form action="/listings" method="POST" enctype="multipart/form-data">
    <div class="form-group">

      <label for="form-ad-title">Ad Title</label>
      <input name="title" type="text" class="form-control" id="form-ad-title" placeholder="Ad Title">

      <label for="form-description">Description</label>
      <textarea name="description" class="form-control" id="form-description" placeholder="Describe your listing...">
      </textarea>

      <label for="form-price">Price</label>
      <input name="priceDollars" type="number" class="form-control" id="form-price" placeholder="Enter price" min="0">

      <label class="my-1 mr-2" for="form-category">Category</label>
      <select name="category" class="custom-select my-1 mr-sm-2" id="form-category">
        <option selected>Choose Category</option>
        <option value="clothing">Clothing</option>
        <option value="electronics">Electronics</option>
        <option value="furniture">Furniture</option>
        <option value="health and fitness">Health and Fitness</option>
        <option value="real estate">Real Estate</option>
        <option value="sports">Sports</option>
        <option value="tools">Tools</option>
        <option value="vehicle">Vehicle</option>
        <option value="vehicle accessories">Vehicle Accessories</option>
      </select>

      <label class="my-1 mr-2" for="form-street-address">Street Address</label>
      <input name="streetAddress" type="text" class="form-control my-1 mr-sm-2" id="form-street-address" placeholder="Enter Street Address"></input>

      <label class="my-1 mr-2" for="form-city">City</label>
      <input name="city" type="text" class="form-control my-1 mr-sm-2" id="form-city" placeholder="Enter City"></input>

      <label class="my-1 mr-2" for="form-province">Province/State</label>
      <input name="province" type="text" class="form-control my-1 mr-sm-2" id="form-province" placeholder="Enter Province or State"></input>

      <label class="my-1 mr-2" for="form-country">Country</label>
      <select name="country" type="text" class="custom-select my-1 mr-sm-2" id="form-country">
        <option selected>Choose Country</option>
        <option value="Canada">Canada</option>
        <option value="USA">USA</option>
      </select>

      <label class="my-1 mr-2" for="form-postal-code">Postal/Zip Code</label>
      <input name="postalCode" type="text" class="form-control my-1 mr-sm-2" id="form-postal-code" placeholder="Enter Postal Code or Zip Code"></input>

      <div class="form-group">
        <label for="form-image">Image file input (jpeg)</label>
        <input multiple name="listingImages" type="file" class="form-control-file " id="form-image">
      </div>

      <button class="btn btn-primary btn-lg" type="submit">Submit</button>

    </div>
  </form>
</div>

  <hr class="hr hr-blurry" /> <!--Horizontal Spacing -->
  <hr class="hr hr-blurry" /> <!--Horizontal Spacing -->

 <!---------------------- Footer --------------------------->
<%- include('partials/footer') %>


<!---------------------- Bootstrap JS --------------------------->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
</body>

</html>
