body {
  margin-top: 60px;
}

.favourites-header {
  padding-left: 35px;
}

.table-container {
  padding: 20px;
}

.labels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}


td {
  vertical-align: middle;
}


.item-image {
  width: 250px; /* Fixed width for the container */
  height: 250px; /* Fixed height for the container */
  overflow: hidden; /* Hide any overflow from the container */
}

.item-image img {
  max-width: 100%; /* Image's max width within container's width */
  max-height: 100%;
  object-fit: cover; /* Cover makes the image fill the entire container */
}
