tr {
  background-color: white;
}

body {
  margin-top: 50px;
}

.favourites-header {
  padding-top: 30px;
  padding-left: 35px;
}

h2 {
  justify-content: center;
  display: flex;
}


.table-container {
  padding: 10px 250px;
}


td {
  vertical-align: middle;
}

.item-image {
  width: 250px; /* Fixed width for the container */
  height: 250px; /* Fixed height for the container */
  overflow: hidden; /* Hide any overflow from the container */
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.item-image img {
  max-width: 100%; /* Image's max width within container's width */
  max-height: 100%;
  object-fit: cover; /* Cover makes the image fill the entire container */
}

// <uniquifier>: Use a unique and descriptive class name

.figtree {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
