tr {
  background-color: white;
}

body {
  margin-top: 60px;
}

h2 { /* My Listings (Active) and My Deleted Listings*/
  padding: 30px;
  padding-left: 35px;
}

.table-container {
  padding: 20px;
}


.table tbody .item-image img {
  vertical-align: middle !important;
}


.item-image {
  width: 250px; /* Fixed width for the container */
  height: 250px; /* Fixed height for the container */
  overflow: hidden; /* Hide any overflow from the container */

}

.item-image a img {
  max-width: 100%; /* Image's max width within container's width */
  max-height: 100%;
  object-fit: cover; /* Cover makes the image fill the entire container */
  display: flex;
  justify-content: center;
  align-items: center;
}




