.figtree {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  margin-top: 60px;
}

h2 { /* My Listings (Active) and My Deleted Listings*/
  margin-top: 50px;
  justify-content: center;
  display: flex;
}

.table-container {
    background-color: white;
    max-width: 800px;
    justify-content: center;
    display: flex;
    margin: auto;
    padding:10px;
  }

.item-image {
  width: 250px; /* Fixed width for the container */
  height: 250px; /* Fixed height for the container */
  overflow: hidden; /* Hide any overflow from the container */
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.item-image img {
  max-width: 100%; /* Image's max width within container's width */
  max-height: 100%;
  object-fit: contain; /* Cover makes the image fill the entire container */
}

/* For screens smaller than 768px, display smaller image */
@media screen and (max-width: 768px) {
  .item-image {
    width: 125px; /* Fixed width for the container */
    height: 125px;
  }
  .table-container {
    max-width: 600px;
  }
}
