body {
  background: rgb(179, 213, 241);
}

.listings-header {
 // padding-top: 100px;
  text-align: center;
}

.specific-ad-container {
  background:rgb(255, 255, 255);
  max-width: 800px;
  max-height: 800px;
  margin: auto;
  margin-top: 75px;
  //padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding:  50px 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.specific-ad-container h4 { /* Listing title */
  padding-top: 20px;
}
.specific-ad-container p { /* Listing description */
  padding-top: 20px;
}

.specific-ad-buttons {
  display: flex;
  justify-content: space-between;
}

.specific-ad-caption { /* Container for price,contact seller,fav button */
  background-color: #f2f2f2;
  border-radius: 10px; /* Rounded edges */
  padding: 20px;
  margin: 20px;
}

.slider { /* Image slider container*/
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.specific-ad-thumbnail {
  max-height: 300px;
  display: none;
}
.specific-ad-thumbnail img{
  max-width: 100%; /* Ensures the image doesn't exceed its container */
  max-height: 100%;
  //overflow: hidden; /* So that the image doesn't overflow the container */
}

img.displaySlide {
  display: block;
}

.slider i { /* Pointer Icons (Prev and Next)*/
 padding: 10px;
 cursor: pointer;
 font-size: 2rem;
}

.slider i:hover {
  color: #1f88ff;
}

