* ,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  min-height: 100vh;
  background: rgb(179, 213, 241);
}

header {
  width: 100%;
  padding: 20px;
  margin: 0;
  padding-top: 100px;
}

.jumbotron {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.content {
  flex: 1;
  text-align: center;
}

.deal-dock-big-logo {
  margin-inline: auto;
  width: 225px;
  height: 225px;
  border-radius: 5%;

}

.deal-dock-big-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.jumbo-carousel {
  width: 75%;
  height: 100%;
  margin-inline: 0.75em;
  overflow: hidden;
  position: relative;
}

.carousel-images {
  display: flex;
  height: 100%;
  transition: transform 1s ease;
}

.carousel-image {
  flex: 0 0 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.carousel-image img {
  height: 100%;
  max-width: 100%;
  position: absolute;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//----------------------------------------
main { /* This allows us to have our 4 listings to be in a row*/
  display: flex;
  flex-direction: row;
  margin: auto;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item { /* Container for each item listing*/
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  margin-bottom: 20px;
  width: calc(25% - 25px);
  height: 500px;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
  border-radius: 2%;
}

.thumbnail img{
  width: 100%;
  height: 250px;
  border-radius: 5px;
  object-fit: contain;
}

.items-heart-icon { /* Heart button in listing items */
  font-size: 1.75rem;
}
.items-heart-icon:hover { /* When hovering over heart icon; mouse -> pointer &turn red */
  cursor: pointer;
  color:red;
}

.item .listing-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
#listing-title{
  margin-top: 10px;
  height: 25px;
  //overflow: scroll;
  white-space: nowrap; /* Prevents wrapping */
  overflow: hidden; /* Hides the overflowing content */
  text-overflow: ellipsis; /* Displays an ellipsis (...) when text overflows */
  max-width: 100%;
}

#description {
  height: 45px; /* Max height of the description box */
  overflow: scroll; /* Characters that exceed the height will be hidden and the scroll feature is implemented. */
}

.previous-page, .next-page, .current-page{
  //padding:0.5em;
  font-size: 1.25rem;
}

.page-selector{ /* Centers page-selector and leaves space around arrow buttons and page num. span */
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 75px;
}

/* For screens smaller than 768px, display 3 listings in a row */
@media screen and (max-width: 768px) {
  main {
    flex-wrap: wrap;
    justify-content: center;
  }

  .jumbotron{
    flex-direction: column;
    height: 950px;
    padding-block: 0.5em 1em;
  }

  .jumbotron .content {
    padding-bottom: 1em;
  }

  .item {
    width: calc(33.33% - 25px);
  }
}

/* For screens smaller than 600px, display 2 listings in a row */
@media screen and (max-width: 600px) {
  .item {
    width: calc(50% - 25px);
  }
}

/* For screens smaller than 480px, display 1 listing in a row */
@media screen and (max-width: 480px) {
  .item {
    width: calc(100% - 25px);
  }
}


