* ,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center; This is what was making our items bundled together
  margin-top: 60px;
  min-height: 100vh;
  background: rgb(179, 213, 241);
}

header {
  /* Container for our jumbotron (must be called using header) because it includes the padding surrounding the jumbotron*/
  width: 100%;
  padding: 20px;
  margin: 0;
  padding-top: 100px;
}

.jumbotron {
  /* The jumbotron that has our Welcome greeting, logo, etc.*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.content { /* This allows our Welcome greeting and logo to appear side-by-side */
  flex: 1;
}

.deal-dock-big-logo { /* Container for our image with set width/height */
  width: 200px;
  height: 200px;
  border-radius: 5%;
  margin-right: 100px;
}

.deal-dock-big-logo img { /* Deal Dock Logo inside jumbotron to fit within its container*/
  width: 100%;
  height: 100%;
  object-fit: contain;
}

main { /* This allows us to have our 4 listings to be in a row*/
  display: flex;
  flex-direction: row;
  margin: auto;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item { /* Container for each item listing*/
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  margin-bottom: 20px;
  width: calc(25% - 25px);
  height: 500px;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
}

.thumbnail img{
  width: 100%;
  height: 250px;
  border-radius: 5px;
  object-fit: contain;
}

#listing-title{
  margin-top: 10px;
}
.items-heart-icon { /* Heart button in listing items */
  font-size: 1.75rem;
}

.items-heart-icon:hover { /* When hovering over heart icon; mouse -> pointer &turn red */
  cursor: pointer;
  color:red;
}

.item .listing-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.page-selector {  /* Centers page-selector and leaves space around arrow buttons and page num. span */
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 75px;
}

#description {
  height: 45px; /* Max height of the description box */
  overflow: scroll; /* Characters that exceed the height will be hidden and the scroll feature is implemented. */
}
