* ,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center; This is what was making our items bundled together
  margin-top: 60px;
  min-height: 100vh;
  background: rgb(179, 213, 241);
}

header {
  /* Header container that contains our jumbotron (must be called using header) */
  width: 100%;
  padding: 20px;
  margin: 0;
  padding-top: 100px;
}

main {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.box {
  /* This allows us to have our listings in a row*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  margin-bottom: 20px;
  width: calc(25% - 25px);
  height: 500px;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
}

.thumbnail img{
  width: 100%;
  height: 250px;
  border-radius: 5px;
  object-fit: contain;
}

#listing-title{
  margin-top: 10px;
}
.items-heart-icon { /* Heart button in listing items */
  font-size: 1.75rem;
}

.items-heart-icon:hover {
  cursor: pointer;
  color:red;
}

.item .listing-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.page-selector {  /* Centers page-selector and leaves space around arrow buttons and page num. span */
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 75px;
}

#description {
  height: 45px; /* Height of the description box */
  overflow: scroll;
}
