nav {
  background-color: #3d4a76; /* Default background color */
  color: #FFFFFF; /* Font color */
  padding: 2.5em; /* Padding for spacing on the right and left */
  display: flex;
  justify-content: space-between; /* Align items on the right and left */
  align-items: center; /* Center items vertically */
  position: fixed; /* Nav-bar always on screen effect*/
  top: 0;
  left: 0;
  right:0;
}

.dropdown-menu {
  position: absolute;
  left: auto; /* This ensures dropdown does not extend beyond screen */
  right: 0; /* This ensures dropdown does not extend beyond screen */
  min-width: 10rem;
}

.navbar-nav {
  overflow: visible; /* Ensures dropdown menu to be fully visible outside the navbar */
}
.heart-icon {
  /* Heart icon in nav */
  font-size: 1.5rem;
  color: white;
}

.heart-icon:hover {
  color:red;
}


.my-listings {
  /* My Listings Icon in nav */
  color:white;
  font-size: 1.25rem;
}
.my-listings:hover {
  color:rgb(9, 222, 255);
}

.logout-icon {
  /* Heart icon in nav */
  font-size: 1.5rem;
  color: white;
}
.logout-icon:hover {
  color:red;
}
#setLocationForm {
  margin-right: 10px; /* Adds spacing between 'Set Location' button and 'Min ($)' input field */
}

.deal-dock-logo {
  width: 50px;
  height: 50px;
  border-radius: 5%;
}

#setPriceRangeForm { /* Adds spacing between 'Set Price Range' button and 'Search' input field */
  margin-right: 10px;
}

#userSearchForm { /* Adds spacing between 'Search' button and 'Heart' icon aka ;'Favourites' button */
  margin-right: 8px;
}

