nav {
  background-color: #3d4a76; /* Default background color */
  color: #FFFFFF; /* Font color */
  padding: 2.5em; /* Padding for spacing on the right and left */
  display: flex;
  justify-content: space-between; /* Align items on the right and left */
  align-items: center; /* Center items vertically */
  position: fixed; /* Nav-bar always on screen effect*/
  top: 0;
  left: 0;
  right:0;
}

.dropdown-menu { /* Categories */
  position: absolute;
  left: auto; /* This ensures dropdown does not extend beyond screen */
  right: 0; /* This ensures dropdown does not extend beyond screen */
  min-width: 10rem;
}

.navbar-nav {
  overflow: visible; /* Ensures dropdown menu to be fully visible outside the navbar */
}

.deal-dock-logo {
  width: 50px;
  height: 50px;
  border-radius: 5%;
}

.heart-icon {
  /* Heart icon in nav */
  font-size: 1.5rem;
  color: white;
}
.heart-icon:hover {
  color:red;
}

.my-listings {
  /* My Listings Icon in nav */
  color:white;
  font-size: 1.25rem;
}
.my-listings:hover {
  color:rgb(9, 222, 255);
}

.logout-icon {
  /* Heart icon in nav */
  font-size: 1.5rem;
  color: white;
}
.logout-icon:hover {
  color:red;
}

#post-ad-btn,
#setLocationForm,
#setPriceRangeForm { /* Adds spacing between 'Set Price Range' button and 'Search' input field */
  margin-right: 10px;

}

#userSearchForm { /* Adds spacing between 'Search' button and 'Heart' icon aka ;'Favourites' button */
  margin-right: 8px;
}

@media only screen and (max-width: 600px) {
  /* Small devices */
  nav {
    padding: 1.5em; /* Smaller padding */
  }

  .deal-dock-logo {
    width: 40px; /* Smaller logo size */
    height: 40px;
  }

  #post-ad-btn,
  #setLocationForm,
  #setPriceRangeForm,
  #userSearchForm {
    margin-right: 5px; /*Spacing*/
  }

  .dropdown-menu {
    right: auto; /* Reset dropdown positioning for smaller devices */
    left: 0;
  }
}

input .location-filter {
  width: 10px;
}


/* For screens smaller than 768px, display 3 listings in a row */
@media screen and (max-width: 768px) {

}
